:root{
    --background-color: #F7F7F7;
    --primary:  #EA1D2C;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

header {
    height: 8.5rem;
    position: fixed;
    display: inline-flex;
    width: 100%;
    background: var(--background-color);
}

#logo {
    width: 5rem;
    margin: 3rem 4.5rem;
    display: inline;
}

#criar-conta {
    margin-left: 30%;
    color: var(--primary);
    font-weight: 600;
}

.titulo-branco {
    color: #fff;
    margin: 2rem 0 0 -10rem;
    font-family: sans-serif;
    font-size: 2.2rem;
}

.btn-card {
    margin: 4rem 0 0 -13rem;    
    width: 9rem !important;
    border-radius: 1rem !important;
}

#btn-mercado {
    background-color: #9EB53E;
}

#btn-restaurante {
    background-color: #C2121F;
}

li {   
   display: inline;
   padding-right: 1.5rem;
   cursor: pointer;
}

ul {
    display: inline;
    list-style: none;
    margin: 2.8rem .4rem;  
}

#menu {
    width: 100%;
}

#menu-mobile {
    display: none;
}

#banner-inicial {
    padding-top: 10rem;
    text-align: center;
}

.input {
    width: 75%;
    padding: 0.8rem;
    color: grey;
    font-size: 1rem;
    border: none;
    max-width: 45rem;
}

.input:focus{
    outline: none;
}

.titulo {    
    font-size: 2.3rem;
    font-weight: 600;
}

.subtitulo {
    color: grey;
    font-weight: 600;
    margin-top: 1rem;
}

.btn {
    border: none;
    font-weight: 600;
    height: 2.7rem;
    width: 6.5rem;
    border-radius: 0.3rem;
    background: var(--primary);
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background: #C2121F
}

.content-cards{
    margin-top: 2rem;
    text-align: center;
    display: inherit;
}

.card {
    width: 25rem;
    height: 13rem;
    border-radius: 1rem;
    display: inline-block;
    text-align: center;
    background-repeat: no-repeat;
    background-position: bottom right;
    cursor: pointer;
}

#restaurante-card {
    background-image: url(../Images/restaurant.webp);
    background-color: var(--primary);
    margin: 2%;
}

#mercado-card {
    background-image: url(../Images/market.webp);    
    background-color: #B6D048;   
}

::selection{
    background-color: var(--primary);
    color: #fff;
}

@media (max-width: 700px) {
    #menu-mobile {      
        text-align: -webkit-right; 
        width: 100%; 
        margin: 7% 5%;
        display: inline;
        cursor: pointer;
    }

    #logo {
        margin: 1.2rem 4.5rem;
    }
    
    #menu {
        display: block;    
        position: absolute;
        top: 20px;
        font-size: 20px;
        right: 0;
        width: 100%;
        height: 0;
        background: var(--background-color);
        transition: .6s;
        z-index: 1000;  
        visibility: hidden;
        overflow-y: hidden;
   } 

   #menu.active {
      height: calc(100vh - 50px);
      visibility: visible;
      overflow-y: auto;     
      width: 100% ;
   }

   #menu li {
       display: block;
       padding: 1rem;
       border-bottom: 2px solid rgba(255, 255, 255, 0.05);
       margin: 5%;
   }

   .linha {
    width: 1.5rem;
    height: 0.188rem;
    border-radius: 2px;
    transition: transform .2s ease-out;
    -webkit-transition: transform .2s ease-out;
    background: black;
    margin-top: 0.2em;
    }

    #linha1.active {
        transform: rotate(127deg);
        margin-top: 0;
    }

    #linha2.active {
        transform: rotate(232deg);
        margin-top: 0;
    }

    #linha3.active{
        visibility: hidden;
    }   

    header {
        height: 4.5rem;
    }

    #banner-inicial {
        padding: 5%;
        padding-top: 30%;
        display: inline-block;
    }

    .btn {
        margin-top: 1rem;
        width: 95%;
    }

    .input {
        width: 90%;
    }

    .card {
        width: 10rem;
        background-position: center;
        background-size: contain;
    }

    .titulo-branco {
        margin: 1rem;
        font-size: 1.2rem;
    }

    .btn-card {
        width: 9rem !important;
        margin: 6rem 0;
    }
}